.outer-container {
  margin-top: 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
  margin-bottom: 20px;
  color: rgb(54, 50, 31);
  font-family: inherit;
  background-color: white;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bookings-container, .offers-container {
  width: 100%;
}

.tab-content-container {
  height: 80.65vh;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(241, 48, 4);
  border-radius: 0 5px 5px 5px;
  overflow-y: scroll;
  padding-bottom: 40px;
}

.user-info {
  width: 70%;
  height: 35%;
  background-color: rgb(243, 243, 243);
}


@media only screen and (min-width: 992px) {
  .profile {
    height: 85vh;
    margin-right: 30px;
  }

  .tabs {
    height: 85vh;
  }

  .button-container {
    background-color: white;
    display: block;
    size: content-box;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
