// Specific CSS for your home-page
#homepage-intro{
  img{
    width: 100%;
  }
}
.homepage-intro-img {
    padding-left: 0;
    padding-right: 0;
}

.homepage-intro-text {
  padding-left: 24px;
  padding-right: 24px;
}
