<% @offers.each do |offer| %>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
    <div class="d-flex flex-column justify-content-between card-product-infos">
      <h2><%= offer.title %></h2>
      <p><%= offer.description %></p>
      <div class="d-flex justify-content-between">
        <p><%= offer.number_of_people %> people</p>
        <p><%= offer.price %>0 EUR </p>
      </div>
    </div>
  </div>
<% end %>
