  <div class="grid-border">
    <div class="photo-grid-all">
      <% @offer.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fit, class:"d-block w-100" %>
      <% end %>
    </div>
  </div>
