<div class="d-flex flex-column justify-content-center offers-banner" style="background-image: url(https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466__340.jpg)">
  <div class="row text-center">
    <h1>Choose your culinary adventure!</h1>
  </div>
</div>

<div class="d-flex flex-column align-items-center">
  <div class="col-12 col-md-10 col-lg-7">
    <%= render "shared/offer_card" %>
  </div>
</div>
