
<div class="container">
  <div class="row justify-content-center">
    <div class="col-9 text-center m-3 pb-3">
      <h1>Create your new offer </h1>

      <%= render 'form', offer: @offer %>
      <%= link_to 'Cancel', offers_path%>
      <%# link_to 'Cancel', :back %>
    </div>
  </div>
</div>
