.btn-flat {
  color: white;
  padding: 8px 30px;
  border-radius: 8px;//20px;
  background: #ee5454ee;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #af3c3c;
  color: white;
}
