// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "buttons";
@import "tags";
@import "offer_card";
@import "offers_banner";
@import "booking_card";
@import "footer";
@import "warning_card";

a {
  text-decoration: none;
  color: inherit;

  :hover {
    color: rgb(106, 58, 58);
  }
}
