.navbar-lewagon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // background: white;
  height: 60px;
  position: fixed;
  z-index: 2;

  #searchbar{
    width:250px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
