.person-tag {
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  background: rgb(0, 0, 0);
  transition: background 0.3s ease;
  // position: absolute;
  // top: 6rem;
  // right: 2rem;
}

.category-tag {
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  background: rgb(0, 0, 0);
  transition: background 0.3s ease;
  // position: absolute;
  // top: 9rem;
  // right: 2rem;

}

.price-tag {
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  background: rgb(0, 0, 0);
  transition: background 0.3s ease;
  // position: absolute;
  // top: 12rem;
  // right: 2rem;
}
